/* Buttons */
.button {
    width: 150px;
    margin: 2px;
    transition: transform 0.1s ease;
}

.button:disabled {
    background-color: hsl(0, 0%, 68%);
    color: #e7e7e7;
    &:hover {
        background-color: hsl(0, 0%, 68%);
        cursor: not-allowed;
    }
    &:active {
        transform: scale(1);
    }
    
}

.button:active {
    transform: scale(0.95);
}

.normalButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.normalButton:hover {
    background-color: #0056b3;
}

.dangerButton {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.dangerButton:hover {
    background-color: #c82333;
}

.secondaryButton {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.secondaryButton:hover {
    background-color: #5a6268;
}

.buttonRow {
    display: flex;
    justify-content: left;
    margin-top: 2px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Graphs */
.cytoscape {
    border-radius: 5px;
    background-color: rgb(190, 190, 190);
}

/* Sections */
.content {
    display: flex;
    height: 100%;
    justify-content: center;
}

.leftSection {
    height: 100%;
    flex: 6;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rightSection {
    height: 100%;
    flex: 8;
    margin: 5px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-direction: row;
}

.production-visualizer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.production-options {
    display: flex;
    justify-content: left;
    gap: 30px;
    align-items: center;
    flex-direction: column;
}

.production-list {
    border: 2px solid #cfd0d1;
    border-radius: 5px;
}

.production-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.graph-caption {
    position: absolute;
    font-weight: bolder;
    padding: 3px;
}

.feedback {
    width: 100%;
    padding: 5px;
    background-color: rgb(190, 190, 190);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

/* Global */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    padding: 5px;
    margin: 0;
}

html, body {
    /* overflow: hidden; */
    height: 100%;
}